vti_encoding:SR|utf8-nl
vti_author:SR|WIN-S2OS53CPBI6\\User
vti_modifiedby:SR|WIN-S2OS53CPBI6\\User
vti_timelastmodified:TR|30 Nov 2023 04:05:08 -0000
vti_timecreated:TR|30 Nov 2023 04:05:08 -0000
vti_cacheddtm:TX|30 Nov 2023 04:05:08 -0000
vti_filesize:IR|1624
vti_cachedlinkinfo:VX|S|swbnr.gif S|swrule.gif S|swbull1.gif S|swbull2.gif S|swbull3.gif S|swphbp.gif S|swphb.gif S|swpvbp.gif S|swpvb.gif S|swhome.gif S|swup.gif S|swprev.gif S|swnext.gif S|swbull1.gif S|swbull2.gif S|swbull3.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/sweets/swbnr.gif FSUS|_themes/sweets/swrule.gif FSUS|_themes/sweets/swbull1.gif FSUS|_themes/sweets/swbull2.gif FSUS|_themes/sweets/swbull3.gif FSUS|_themes/sweets/swphbp.gif FSUS|_themes/sweets/swphb.gif FSUS|_themes/sweets/swpvbp.gif FSUS|_themes/sweets/swpvb.gif FSUS|_themes/sweets/swhome.gif FSUS|_themes/sweets/swup.gif FSUS|_themes/sweets/swprev.gif FSUS|_themes/sweets/swnext.gif FSUS|_themes/sweets/swbull1.gif FSUS|_themes/sweets/swbull2.gif FSUS|_themes/sweets/swbull3.gif
vti_extenderversion:SR|5.0.2.2623
vti_lineageid:SR|{B05D4CB7-C8A7-4357-9A30-523D1272089F}
vti_backlinkinfo:VX|
